{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!--Meta tags-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Calling the CSS files-->
    <link rel="stylesheet" href="{% static 'css/creation/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/creation/center.css' %}">
    <link rel="stylesheet" href="{% static 'css/creation/card.css' %}">
    <link rel="stylesheet" href="{% static 'css/panels.css' %}">
    <!--Title-->
    <title>Bright Cities Todo List</title>
    <!--Icon-->
    <link rel="shortcut icon" href="{% static 'images/icon.png' %}" type="image/x-icon">
</head>

<body class="center">
    <!--Main content-->
    <main class="centralized-container">
        <!--Div inside the flex element-->
        <div class="card">
            <h1 class="title">Create a new task</h1>

            <!--Create form area-->
            <form id="form" class="form" action="{% url 'create' %}" method="POST" autocomplete="off">
                {% csrf_token %}
                <label for="task">Task Name (Required)</label>
                <input id="task" class="input" name="name" type="text"
                    placeholder="Insert your new task's name | 25 characters" maxlength="25"
                    oninput="task_char_count()">
                <p id="task_panel" class="panel">0/25</p>

                <label for="description">Description</label>
                <textarea id="description" class="input" name="description" rows="3"
                    placeholder="Insert your new task's description | 255 characters" maxlength="255"
                    oninput="description_char_count()"></textarea>
                <p id="description_panel" class="panel">0/255</p>

                <!--Submit button-->
                <button class="button" type="submit"><span class="span-text">Create Task</span>
                    {% block content %}
                    {% include 'notepad_svg.html' %}
                </button>
            </form>
            <!--End create form area-->

            <!--Back to home page button-->
            <a class="back-home" href="{% url 'home' %}"><span class="span-text">Home</span>
                {% include 'house_svg.html' %}
                {% endblock %}
            </a>
        </div>
    </main>

    <!--Calling the Javascript files-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="{% static 'js/create.js' %}"></script>
    <script src="{% static 'js/char_counter.js' %}"></script>
</body>

</html>