{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/creation/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/index/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/creation/center.css' %}">
    <link rel="stylesheet" href="{% static 'css/creation/card.css' %}">

    <title>Todo</title>
</head>

<body>
    <!--Div to centralize the content-->
    <div class="center">
        <!--Main content div-->
        <div class="card">
            <h1 class="title">Create a new task</h1>

            <form id="form" class="form" action="{% url 'create' %}" method="POST" autocomplete="off">
                {% csrf_token %}
                <label for="name">Task Name (Required)</label>
                <input id="task" class="input" name="name" type="text"
                    placeholder="Insert your new task's name | 50 characters" maxlength="50">
                <label for="description">Description</label>
                <textarea id="description" class="input" name="description" rows="3"
                    placeholder="Insert your new task's description | 255 characters" maxlength="255"></textarea>
                <button class="button" type="submit"><span class="span-text">Create Task</span>
                    {% block content %}
                    {% include 'notepad_svg.html' %}
                </button>
            </form>

            <a class="back-home" href="{% url 'home' %}"><span class="span-text">Home</span>
                {% include 'house_svg.html' %}
                {% endblock %}
            </a>
        </div>
    </div>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="{% static 'js/create.js' %}"></script>
</body>

</html>