
.go_create {
    font-family: Helvetica;
    display: block;
    padding: 20px;
    width: 40%;
    text-align: center;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    
    transition: 0.3s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: #412234;
    color: #ffffff;
}

.go_create:hover {
    background-color: #B49FCC;
    color: black;
}

.go_create:active {
    background-color: #EAD7D7;
    color: black;
}

/* CSS for the button svg icon */
.span-text {
    margin-right: 0.5rem;
}

.task-icon path {
    fill: lightgray;
}
