.footer {
    background-image: linear-gradient(to right, #B49FCC, #6D466B);
}

.footer-title {
    text-align: center;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: Helvetica;
}

.links {
    margin-top: 0.5rem;
    text-align: center;
}

.links a {
    font-size: 2.5rem;
    color: #B49FCC;
    transition: 0.3s;
    margin-right: 10px;
}

.links a:hover {
    color: #A0DDFF;
}
